@{
    ViewBag.Title = "Analytics";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">Analytics</li>
</ol>

<h2>User Stats</h2>
<div class="row text-center">

    <div class="col">
        <div class="card">
            <div class="card-header">
                Total Users Registered
            </div>
            <div class="card-body">
                <h1>
                    @ViewBag.userTotal
                </h1>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-header">
                Nonprofits Awaiting Verification
            </div>
            <div class="card-body">
                <h1>
                    @ViewBag.unvOrgTotal
                </h1>
            </div>
        </div>
    </div>

</div>

<br/>

<div class="row text-center">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Volunteers Registered
            </div>
            <div class="card-body">
                <h1>
                    @ViewBag.volTotal
                </h1>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-header">
                Nonprofits Registered
            </div>
            <div class="card-body">
                <h1>
                    @ViewBag.orgTotal
                </h1>
            </div>
        </div>
    </div>
</div>

<br />

<h2>Opportunity Stats</h2>
<div class="row text-center">

    <div class="col">
        <div class="card">
            <div class="card-header">
                Opportunities Posted
            </div>
            <div class="card-body">
                <h1>
                    @ViewBag.oppTotal
                </h1>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-header">
                Opportunity Sign Ups
            </div>
            <div class="card-body">
                <h1>
                    @ViewBag.appTotal
                </h1>
            </div>
        </div>
    </div>

</div>