@using VMS.Models.ViewModels
@using System.Security.Claims;
@model List<UserListViewModel>
@{
    ViewData["Title"] = "User List";
}
<style>
    h2 {
        text-align: center;
    }
</style>

<head>
    @*Datatables*@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            //volunteer table
            $('#volunteerTable').DataTable({
                "aoColumnDefs": [
                    {
                        'bSortable': false, 'aTargets': [6, 7]
                    }
                ]
            });

            //unverified organizations table
            $('#unverifiedTable').DataTable({
                "aoColumnDefs": [
                    {
                        'bSortable': false, 'aTargets': [5, 6]
                    }
                ]
            });

            //verified organizations table
            $('#verifiedTable').DataTable({
                "aoColumnDefs": [
                    {
                        'bSortable': false, 'aTargets': [5, 6]
                    }
                ]
            });

            //admins table
            $('#adminTable').DataTable({
                "aoColumnDefs": [
                    {
                        'bSortable': false, 'aTargets': [1, 2]
                    }
                ]
            });
        });
    </script>
</head>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">Manage Users</li>
</ol>

<div class="card">
    <div class="card-header">
        <h2>Volunteers</h2>
    </div>
    <div class="card-body">
        <table id="volunteerTable" class="table table-hover">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Zip</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var user in Model)
                    @if (user.Roles.Contains("Volunteer"))
                    {
                        <tr>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.Phone</td>
                            <td>@user.Email</td>
                            <td>@user.Address</td>
                            <td>@user.Zip</td>

                            <td style="width:10%"><a class="btn btn-primary" asp-action="EditUser" asp-controller="admin" asp-route-id="@user.Id">Manage</a></td>
                            <td style="width:10%">
                                <a class="btn btn-danger" asp-action="DeleteUser" asp-controller="admin" asp-route-id="@user.Id" onclick="return confirm('Are you sure you want to delete user: @user.Email')">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
</div>

    <br />

    <div class="card">
        <div class="card-header">
            <h2>Unverified Nonprofits</h2>
        </div>
        <div class="card-body">
            <table id="unverifiedTable" class="table table-hover">
                <thead>
                    <tr>
                        <th>Nonprofit Name</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Zip</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var user in Model)
                        @if (user.Roles.Contains("Organization"))
                        {
                            <tr>
                                <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.Phone</td>
                            <td>@user.Email</td>
                            <td>@user.Address</td>
                            <td>@user.Zip</td>

                                <td style="width:10%"><a class="btn btn-primary" asp-action="EditUser" asp-controller="admin" asp-route-id="@user.Id">Manage</a></td>
                                <td style="width:10%">
                                    <a class="btn btn-danger" asp-action="DeleteUser" asp-controller="admin" asp-route-id="@user.Id" onclick="return confirm('Are you sure you want to delete user: @user.Email')">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
    </div>

        <br />

        <div class="card">
            <div class="card-header">
                <h2>Verified Nonprofits</h2>
            </div>
            <div class="card-body">
                <table id="verifiedTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nonprofit Name</th>
                            <th>Phone Number</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Zip</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var user in Model)
                            @if (user.Roles.Contains("Organization (Verified)"))
                            {
                                <tr>
                                    <td>@user.NonprofitName</td>
                                    <td>@user.Phone</td>
                                    <td>@user.Email</td>
                                    <td>@user.Address</td>
                                    <td>@user.Zip</td>

                                    <td style="width:10%"><a class="btn btn-primary" asp-action="EditUser" asp-controller="admin" asp-route-id="@user.Id">Manage</a></td>
                                    <td style="width:10%">
                                        <a class="btn btn-danger" asp-action="DeleteUser" asp-controller="admin" asp-route-id="@user.Id" onclick="return confirm('Are you sure you want to delete user: @user.Email')">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
        </div>

            <br />

            <div class="card">
                <div class="card-header">
                    <h2>Admins</h2>
                </div>
                <div class="card-body">
                    <table id="adminTable" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var user in Model)
                                @if (user.Roles.Contains("Admin"))
                                {
                                    <tr>
                                        <td>@user.Email</td>

                                        <td style="width:10%"><a class="btn btn-primary" asp-action="EditUser" asp-controller="admin" asp-route-id="@user.Id">Manage</a></td>
                                        <td style="width:10%">
                                            <a class="btn btn-danger" asp-action="DeleteUser" asp-controller="admin" asp-route-id="@user.Id" onclick="return confirm('Are you sure you want to delete user: @user.Email')">
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
            </div>



