@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VolunTEEN</title>
    @*Favicon link*@
    <link rel="icon" type="image/png" href="~/Images/Volunteen_Logo2-min.png" />
    @*Bootswatch Theme*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-lumen.css" />
    @*Custom Site CSS*@
    <link rel="stylesheet" href="~/css/site.css" />
    @*Font Awesome*@
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" asp-href-include="lib/font-awesome/css/*.css" />
    @*JQuery*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="Stylesheet"
          type="text/css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--gallery popups-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar text-white navbar-expand-sm navbar-toggleable-sm navbar-light bg-info box-shadow">
            <div class="container">

                <a class="navbar-brand mb-0 h1 text-white fw-bolder" asp-area="" asp-controller="Home" asp-action="Index"><img class="navbar-brand" width=80 height=80 src="~/Images/VolunTEEN_Logo-min.png" />VolunTEEN</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link btn text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn text-white" asp-area="" asp-controller="Opportunities" asp-action="List">Browse</a>
                        </li>

                        @if (SignInManager.IsSignedIn(User))
                        {
                            @if (User.IsInRole("Volunteer"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link btn text-white" asp-area="" asp-controller="Opportunities" asp-action="ViewApplications">Your Opportunities</a>
                                </li>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item dropdown" style="align-self: center;">
                                    <button class="btn text-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Admin
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-controller="Admin" asp-action="UserList">Manage Users</a>
                                        <a class="dropdown-item" asp-controller="Admin" asp-action="Analytics">View Analytics</a>
                                        <a class="dropdown-item" asp-controller="Admin" asp-action="ListRoles">Manage Roles</a>
                                    </div>
                                </li>
                            }
                            @if (User.IsInRole("Organization (Verified)") || User.IsInRole("Organization"))
                            {
                                <li class="nav-item dropdown" style="align-self: center;">
                                    <button class="btn text-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Nonprofit
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-controller="Opportunities" asp-action="Index">Manage Opportunities</a>
                                        <a class="dropdown-item" asp-controller="Opportunities" asp-action="ManageApplicants">Manage Applicants</a>
                                    </div>
                                </li>
                            }

                        }

                        <li class="nav-item dropdown" style="align-self: center;">
                            <button class="btn text-white dropdown-toggle" type="button" id="dropdownMenuButtonLearn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Learn
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Home" asp-action="AboutUs">About Us</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="ExploreCauses">Explore Causes</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="VolunTeenBlog">The VolunTEEN Blog</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div style="background-color:black;" class="box-shadow mb-3">

        <img class="d-block w-100" style="opacity:90%;" src="~/Images/VolunTEEN_Banner-min.png" alt="volunteerBanner">

    </div>

    <div class="container" style="padding-bottom:150px;">
        <main role="main" class="pb-3">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success alert-dismissible">@TempData["message"]<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button></div>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-black position-absolute" style="height: 150px;">
        <style>
            #footerContents a:hover {
                font-weight: bold;
            }
        </style>

        <div id="footerContents" class="container row mx-auto mt-3" style="line-height:150%;">

            <div class="col mt-2">
                <span class="fw-bold" style="color: #00224B;">Quick Links</span><br />
                <a class="text-decoration-none text-black" asp-controller="Home" asp-action="Index">Home</a><br />
                <a class="text-decoration-none text-black" asp-controller="Opportunities" asp-action="List">Browse</a><br />
                @if (User.IsInRole("Volunteer"))
                {
                    <a class="text-decoration-none text-black" asp-controller="Opportunities" asp-action="ViewApplications">View Your Signups</a><br />
                }
                @if (User.IsInRole("Organization (Verified)") || User.IsInRole("Organization"))
                {
                    <a class="text-decoration-none text-black" asp-controller="Opportunities" asp-action="Index">Manage Your Posts</a>
                }
            </div>

            <div class="col mt-2">
                <span class="fw-bold" style="color: #00224B;">Learn More</span><br />
                <a class="text-decoration-none text-black" asp-controller="Home" asp-action="AboutUs">About VolunTEEN</a><br />
                <a class="text-decoration-none text-black" asp-controller="Home" asp-action="ExploreCauses">Explore Causes</a><br />
                <a class="text-decoration-none text-black" asp-controller="Home" asp-action="VolunTeenBlog">The VolunTEEN Blog</a>
            </div>

            <div class="col mt-2">
                <span class="fw-bold" style="color: #00224B;">Contact</span><br />
                <span>volunteen.jax@gmail.com</span><br />
                <span>(904)345-0095</span><br />
                <span>Jacksonville, Florida</span>
            </div>

            <div class="col mt-2">
                <span class="fw-bold" style="color: #00224B;">Join us on social media</span><br />
                <a href="https://www.instagram.com/volunteenjax/?hl=en" target="_blank">
                    <i style="color: #DD217B;" class="fa fa-lg fa-instagram fa-2x mt-2"></i>
                </a>
            </div>

            <div class="col mt-2">
                <span class="fw-bold text-center" style="color: #00224B;">&copy; VolunTEEN - @DateTime.Now.Year</span><br />
                <a asp-controller="Home" asp-action="Index">
                    <img height="75" width="75" src="~/Images/volunteenLogo-min.png" alt="footerLogo">
                </a>
            </div>

        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
