@using VMS.Models.ViewModels
@model PostsViewModel
@{
    ViewData["Title"] = "The VolunTEEN Blog";
}

<style>
    #postContainer {
        width: 70%;
        margin: auto;
        margin-bottom: 3%;
    }
</style>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">VolunTEEN Blog</li>
</ol>

@if (User.IsInRole("Admin"))
{
    <!-- Button trigger modal -->

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#blogPostModal">
        New Post
    </button>

    <!-- Modal -->
    <div class="modal fade" id="blogPostModal" tabindex="-1" role="dialog" aria-labelledby="blogPostModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create a new post</h5>

                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>

                </div>
                <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="CreatePost">
                    <div class="modal-body">

                        <div class="form-group">
                            <label asp-for="title" class="col-form-label">Title</label>
                            <input asp-for="title" type="text" class="form-control" id="title-text">
                        </div>
                        <div class="form-group">
                            <label asp-for="body" class="col-form-label">Body Text</label>
                            <textarea asp-for="body" rows="8" class="form-control" id="body-text"></textarea>
                        </div>
                        <div>
                            <input asp-for="image" class="form-control" name="files" type="file" />
                        </div>

                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        <input class="btn btn-success" type="submit" value="Post" />

                    </div>
                </form>
            </div>
        </div>
    </div>
}
<br />
@if (Model.Posts.Any())
{
    @foreach (var item in Model.Posts)
    {

        <div class="card mb-4" style="width:450px; margin:auto;">
            @if (item.image != null)
            {
                <img class="card-img-top p-0" style="height: 400px; width: 100%; margin: auto; object-fit:cover; " src="data:image/*;base64,@(Convert.ToBase64String(item.image))" alt="Card image cap">
            }
            <div class="card-body">
                <h5 class="card-title fw-bold">@item.title</h5>
                @if (item.ProfilePicture != null)
                {
                    <img id="profilePicture" style="height: 30px; width: 30px; border-radius: 50%; object-fit:cover;" class="img-fluid" src="data:image/*;base64,@(Convert.ToBase64String(item.ProfilePicture))">
                }
                @item.createUserName
                <p class="card-text">@item.body</p>
                <p class="card-text"><small class="text-muted">Posted @item.datePosted.Date.ToString("d")</small></p>

                @if (User.IsInRole("Admin"))
                {
                    <div class="card-footer">
                        <form asp-action="deletePost" asp-route-id="@item.id" method="post">
                            <input type="submit" value="Delete Post" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this?')" />
                        </form>
                    </div>
                }
            </div>
        </div>

    }
}
else
{
    <div>
        <p>No posts from VolunTEEN yet!</p>
    </div>
}