@model IEnumerable<VMS.Models.Opportunity>
@{
    ViewData["Title"] = "View";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
<style>
    .card-body {
        box-shadow: 5px 10px 18px #888888;
    }
    .card {
        font-family: 'Kanit', sans-serif;
    }
</style>
<div class="container">
    @foreach (var item in Model)
    {
        <div class="card rounded m-5">
            <div class="card-body">
                <h5>@Html.DisplayFor(modelItem => item.opportunityName)</h5><hr />
                <p class="font-weight-light">@Html.DisplayFor(modelItem => item.location)</p>
                <p>@Html.DisplayFor(modelItem => item.description)</p>
                <a class="btn btn-outline-primary btn-rounded" asp-area="" asp-controller="Opportunities" asp-action="Apply">Apply</a>
                <a class="btn btn-outline-warning btn-rounded" asp-area="" asp-controller="Opportunities" asp-action="Detailsfake">Details</a>
            </div>
        </div>
    }@*
    <div class="card rounded m-5">
        <div class="card-body">
            <h5>Card title</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a class="btn btn-outline-primary btn-rounded" asp-area="" asp-controller="Opportunities" asp-action="Apply">Apply</a>
            <a class="btn btn-outline-warning btn-rounded" asp-area="" asp-controller="Opportunities" asp-action="Detailsfake">Details</a>
        </div>*@
    </div>
</div>



<!--<div class="card">
    <div class="card-header">
        <h4>Opportunities</h4>
    </div>
    <div class="card-body">
        <div class="btn-group mb-3">
            <button type="button" class="btn btn-outline-primary ml-3 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter
            </button>
            <div class="dropdown-menu">
                <a type="button" class="dropdown-item" asp-action="ShowApprovedPending">Most Recent (60days)</a>
                <a type="button" class="dropdown-item" asp-action="ShowApproved">By center</a>
                <div class="dropdown-divider"></div>
                <a type="button" class="dropdown-item" asp-action="Index">All</a>
            </div>-->
            @*<form class="ml-3" asp-action="ShowSearchResults">
                <div class="form-row align-items-center">
                    <div class="">
                        <label class="sr-only" for="SearchPhrase"></label>
                        <input name="SearchPhrase" class="form-control" id="inlineFormInputName" placeholder="Name">
                    </div>
                    <div class="col-auto">
                        <button type="submit" value="Search" class="btn  btn-outline-primary">Search</button>
                    </div>
                </div>
            </form>*@
        <!--</div>

        <div class="table-responsive">
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Location
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                </thead>
                <tbody class="table table-striped">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.opportunityName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.description)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>-->
<!--Hard coded opportunities for protoype-->
@*<div class="shadow-lg container-fluid p-lg-5">
    <div class="text-center" id="header">
        <h4>Viewing Opportunities</h4><hr />
    </div>

    <div class="card text-dark m-3 bg-white">
        <div class="card-header font-weight-bold">
            ABC Opportunity 1
        </div>
        <div class="card-body">
            <div id="location">
                <p class="font-italic">Jacksonville, Fl</p>
            </div>
            <div id="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Dates: 01/29/2021 - 05/29/2025</p>
            </div>
            <a class="btn btn-outline-primary btn-rounded" asp-area="" asp-controller="Opportunities" asp-action="Apply">Apply</a>
            <a class="btn btn-outline-warning btn-rounded" asp-area="" asp-controller="Opportunities" asp-action="Detailsfake">Details</a>
        </div>
        <div class="card-footer">
        </div>
    </div>


    <div class="card text-dark m-3 bg-white">
        <div class="card-header font-weight-bold">
            Example Opportunity 2
        </div>
        <div class="card-body">
            <div id="location">
                <p class="font-italic">Jacksonville, Fl</p>
            </div>
            <div id="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Dates: 01/29/2021 - 05/29/2025</p>
            </div>
            <a class="btn btn-outline-primary btn-rounded" asp-area="" asp-controller="Opportunities" asp-action="Apply">Apply</a>
            <a class="btn btn-outline-warning btn-rounded" asp-area="" asp-controller="Opportunities" asp-action="Detailsfake">Details</a>
        </div>
        <div class="card-footer">
        </div>
    </div>

    <div class="card text-dark m-3 bg-white">
        <div class="card-header font-weight-bold">
            BCA Cleanup donation bank 3
        </div>
        <div class="card-body">
            <div id="location">
                <p class="font-italic">Jacksonville, Fl</p>
            </div>
            <div id="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Dates: 01/29/2021 - 05/29/2025</p>
            </div>
            <a class="btn btn-outline-primary btn-rounded" asp-area="" asp-controller="Opportunities" asp-action="Apply">Apply</a>
            <a class="btn btn-outline-warning btn-rounded" asp-area="" asp-controller="Opportunities" asp-action="Detailsfake">Details</a>
        </div>
        <div class="card-footer">
        </div>
    </div>

    <div class="card text-dark m-3 bg-white">
        <div class="card-header font-weight-bold">
            Example Opportunity 4
        </div>
        <div class="card-body">
            <div id="location">
                <p class="font-italic">Jacksonville, Fl</p>
            </div>
            <div id="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Dates: 01/29/2021 - 05/29/2025</p>
            </div>
            <a class="btn btn-outline-primary btn-rounded" asp-area="" asp-controller="Opportunities" asp-action="Apply">Apply</a>
            <a class="btn btn-outline-warning btn-rounded" asp-area="" asp-controller="Opportunities" asp-action="Detailsfake">Details</a>
        </div>
        <div class="card-footer">
        </div>
    </div>

    <div class="card text-dark m-3 bg-white">
        <div class="card-header font-weight-bold">
            Jacksonville Beach Clean up
        </div>
        <div class="card-body">
            <div id="location">
                <p class="font-italic">Jacksonville, Fl</p>
            </div>
            <div id="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Dates: 01/29/2021 - 05/29/2025</p>
            </div>
            <a class="btn btn-outline-primary btn-rounded" asp-area="" asp-controller="Opportunities" asp-action="Apply">Apply</a>
            <a class="btn btn-outline-warning btn-rounded" asp-area="" asp-controller="Opportunities" asp-action="Detailsfake">Details</a>
        </div>
        <div class="card-footer">
        </div>
    </div>*@

<a class="btn btn-outline-secondary btn-rounded" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</div>
