@model OpportunitiesListViewModel

@{
    ViewData["Title"] = "Your Posted Opportunities";
}
<style>
    form {
        display: inline;
    }
</style>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">Manage</li>
</ol>
<h2 class="">Manage your opportunities here</h2>
<div class="row">
    <div class="col-md-3">
        <span class="input-group-btn">
            <a type="button" class="btn btn-success" asp-action="Create">Add New+</a>
            <a type="button" class="btn btn-warning" asp-action="ViewArchived">View Archived</a>
        </span>
    </div>
</div>




<hr />
<div class="row align-items-sm-stretch d-flex pt-3">
    <h3>Active opportunities</h3>

    @if (!Model.Opportunities.Any())
    {
        <p>You have not posted any opportunities yet.</p>
    }
    else
    {

        @foreach (var item in Model.Opportunities)
        {

            @if ((bool)!item.ArchivedStatus)
            {

                <div class="col-sm-4 pb-3">
                    <div class="h-100 p-5 bg-light rounded-3 shadow">
                        <div class="row align-items-center">
                            <p class="fs-4 fw-bold">
                                @item.OpportunityName
                            </p>
                        </div>
                        <div class="row align-items-center">
                            <p class="text-muted">
                                Posted: @item.CreateDate.ToString("d")
                            </p>
                        </div>
                        <span class="input-group-btn">
                            <a class="btn btn-info" type="button" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-info" type="button" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </span>
                        @if (item.EndDate < DateTime.Today && (bool)!item.OnGoing)
                        {
                            <p class="text-warning fw-bold">Posts where the end date has passed will not be displayed on the Browse page, even when active</p>
                        }
                        <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete, @item.OpportunityName?')" />
                        </form>

                    </div>
                </div>
            }


        }
    }
    <div />
    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-outline-primary"
         page-class-selected="btn-info" class="btn-group">
    </div>
