@model OpportunitiesListViewModel

@{
    ViewData["Title"] = "Browse Opportunities";
}

<h2>View Posts</h2>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">Browse</li>
</ol>
<div class="row">
    <!--left-->
    <div class="col col-md-3">
        <h4>Filters</h4>
        @using (Html.BeginForm())
        {
            <p>
                Search: @Html.TextBox("SearchString", null, new { @class = "form-control" })
            </p>
        }
        <button type="button" class="btn btn-outline-primary btn-block ml-3 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort By
        </button>
        <div class="dropdown-menu">
            @Html.ActionLink("Last created", "List", new { sortOrder = ViewBag.DateSortParm }, new { @class = "dropdown-item" })
            @*<a type="button" class="dropdown-item" asp-action="">No signups</a>*@
            @Html.ActionLink("Name Desc.", "List", new { sortOrder = ViewBag.NameSortParm }, new { @class = "dropdown-item" })
            <div class="dropdown-divider"></div>
            <a type="button" class="dropdown-item" asp-action="List">All</a>
        </div>

        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                @Html.ActionLink("Advocacy & Human Rights", "List", new { sortOrder = ViewBag.AdvHumSortParm }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Animals", "List", new { sortOrder = ViewBag.AnimalSortParm }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Comfort the sick", "List", new { sortOrder = ViewBag.ComSickSortParm }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Community Support", "List", new { sortOrder = ViewBag.CommunitySortParm }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Computers & Technology", "List", new { sortOrder = ViewBag.CompTechSortParm }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Donations", "List", new { sortOrder = ViewBag.DonationSortParm }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Education & Literacy", "List", new { sortOrder = ViewBag.EduLitSortParm }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Elderly", "List", new { sortOrder = ViewBag.ElderlySortParm }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Help other kids", "List", new { sortOrder = ViewBag.HelpKidsSortParm }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Help Refugees", "List", new { sortOrder = ViewBag.HelpRefSortParm }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Homeless", "List", new { sortOrder = ViewBag.HomelessParm }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Save the Planet", "List", new { sortOrder = ViewBag.SavePlanetParm }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Support our troops", "List", new { sortOrder = ViewBag.SuppTroopsParm }, new { @class = "nav-link" })
            </li>

        </ul>

    </div>

    @*<div class="col col-md-3">
            <p>@Html.ActionLink("Creation Date", "List", new { sortOrder = ViewBag.DateSortParm })</p>
            <p>@Html.ActionLink("Name Desc", "List", new { sortOrder = ViewBag.NameSortParm})</p>
        </div>*@

    <!--right-->
    <div class="col col-md-9">
        @if (Model.PagingInfo.TotalItems.Equals(0))
        {
            <p class="fs-4 fw-bold">No Results Found</p>
        }
        @foreach (var p in Model.Opportunities)
        {
            <div class="card rounded mb-5 p-2">
                <div class="card-body">
                    <p class="fs-4 fw-bold">@Html.DisplayFor(modelItem => p.OpportunityName)</p>
                    <p class="font-weight-light">@Html.DisplayFor(modelItem => p.City), @Html.DisplayFor(modelItem => p.State)</p><hr />
                    @if (p.VolunteersApplied == p.VolunteersNeeded)
                    {
                        <p>This opportunity is full</p><hr />
                    }
                    else
                    {
                        <p>Volunteers Needed: @(p.VolunteersNeeded - p.VolunteersApplied)</p>
                    }


                    @*<p>@Html.DisplayFor(modelItem => p.Description)</p>*@
                    <span class="badge bg-primary">@Html.DisplayFor(modelItem => p.GradeLevel)</span>
                    <span class="badge bg-primary">@Html.DisplayFor(modelItem => p.AgeBracket)</span>
                    <span class="badge bg-primary">@Html.DisplayFor(modelItem => p.InterestAreas)</span>
                    @if (p.Virtual)
                    {
                        <span class="badge bg-primary">Virtual</span>
                    }
                    @if (p.GroupActivity)
                    {
                        <span class="badge bg-primary"><i class="fa fa-users fa-sm" aria-hidden="true"></i></span>
                    }
                    <br />

                    <!-- Button trigger modal -->
                    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#applyModal">
                            Apply
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="applyModal" tabindex="-1" role="dialog" aria-labelledby="applyModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Would you like to apply for...</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h5>@item.OpportunityName</h5>
                                        <h6>Start: @item.StartDate</h6>
                                        <h6>End: @item.EndDate</h6>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a class="btn btn-primary" asp-area="" asp-route-oppID="@item.Id" asp-controller="Opportunities" asp-action="Apply">Apply</a>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    <a class="btn btn-outline-info btn-rounded mt-2" asp-area="" asp-controller="Opportunities" asp-action="PublicDetails" asp-route-id="@p.Id">More</a>
                </div>
            </div>

        }
        <div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-outline-primary"
             page-class-selected="btn-info" class="btn-group float-right"
             page-url-category="@Model.CurrentCategory">
        </div>

    </div>
</div>