@model IEnumerable<VMS.Models.Application>
@using Microsoft.AspNetCore.Identity;

@{
    ViewData["Title"] = "Manage Applicants";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">Manage Applicants</li>
</ol>

<h2>Manage Applicants for your Posted Opportunities</h2>
<h4>Once approved or denied, the applicant will receive an update email letting them know about their status.</h4>

@if (Model.Any())
{
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th class="col-md-3">Volunteer Name</th>
                <th class="col-md-3">Profile</th>
                <th class="col-md-3">Opportunity</th>
                <th class="col-md-3">Approve</th>
                <th class="col-md-3">Deny</th>
                <th class="col-md-3">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var application in Model)
            {
                <tr>
                    <td class="col-md-5">
                        @application.VolunteerName
                    </td>
                    <td class="col-md-2">
                        <a class="btn btn-sm btn-warning mb-2" type="button" asp-action="ViewApplicant" asp-route-id="@application.Id">View</a><br />
                    </td>
                    <td class="col-md-5">
                        @application.OppName
                    </td>
                    <td class="col-md-1">
                            <form asp-action="ApproveApplicant">

                                <input type="submit" class="btn btn-primary" value="Approve" />
                                <input type="hidden" name="applicationID" value="@application.Id" />
                            </form>
                        
                    </td>
                    <td class="col-md-1">
                        <form asp-action="ApproveApplicant">

                            <input type="submit" class="btn btn-danger" value="Deny" />
                            <input type="hidden" name="applicationID" value="@application.Id" />
                        </form>
                    </td>
                    <td class="col-md-1">
                            @if (application.Status is true)
                            {
                                <p>Approved</p>
                            }
                            else
                            {
                                <p>On hold</p>
                            }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        <p>If you've posted an opportunity no volunteers have signed up yet, if you haven't or would like to edit an already posted opportunity click below to manage your opportunities.</p>
        <a class="btn btn-primary" asp-controller="Opportunities" asp-action="Index">Manage Opportunities</a>
    </div>
}