@model VMS.Models.Opportunity
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager;

@{
    ViewData["Title"] = "Public Details";
}

<div class="container py-4">

    <!--Header-->
    <div class="p-5 mb-4 bg-light rounded-3 shadow">
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col-lg-10">
                    <h1 class="display-5 fw-bold">
                        @Html.DisplayFor(model => model.OpportunityName)
                        @if (Model.CreateUser.ProfilePicture != null)
                        {
                            <img id="profilePicture" style="height: 50px; width: 50px; border-radius: 50%; object-fit:cover;" class="img-fluid" src="data:image/*;base64,@(Convert.ToBase64String(Model.CreateUser.ProfilePicture))">
                        }

                    </h1>
                    @if ((bool)Model.Virtual)
                    {
                        <p class="lead col-md-8 fs-4">Remote</p>
                    }
                    else
                    {
                        <p class="lead col-md-8 fs-4">@Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State)</p>
                    }

                    <p class="lead col-md-8 fs-4">
                        @if (Model.VolunteersNeeded == Model.VolunteersApplied)
                        {
                        <p>This opportunity is currently full.</p>
                    }
                    else
                    {
                        <p>Looking for <strong>@(Model.VolunteersNeeded - Model.VolunteersApplied)</strong> volunteers</p>
                    }

                        @if ((bool)Model.Virtual)
                        {
                            <p class="lead col-md-8 fs-4">This is a virtual opportunity</p>
                        }

                        @if (User.IsInRole("Organization (Verified)") || User.IsInRole("Organization"))
                        {
                            <p></p>
                        }

                        @if (User.IsInRole("Volunteer"))
                        {
                            <!-- Button trigger modal -->
                            @if (Model.VolunteersNeeded == Model.VolunteersApplied)
                            {
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#applyModal">
                                    Join Waitlist
                                </button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#applyModal">
                                    Apply
                                </button>
                            }
                        }
                        else
                        {
                            <p class="fs-3 fw-bold text-danger">Only volunteers can apply for opportunities</p>
                        }


                        <!-- Modal -->
                        <div class="modal fade" id="applyModal" tabindex="-1" role="dialog" aria-labelledby="applyModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        @if (Model.VolunteersNeeded == Model.VolunteersApplied)
                                        {
                                            <h5 class="modal-title" id="exampleModalLabel">Opportunity is full, join waitlist instead...</h5>
                                        }
                                        else
                                        {
                                            <h5 class="modal-title" id="exampleModalLabel">Would you like to apply for...</h5>
                                        }

                                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h5>@Html.DisplayFor(model => model.OpportunityName)</h5>

                                        @if ((bool)!Model.Virtual)
                                        {
                                            <h6>
                                                Start:
                                                @Model.StartDate.Date.ToString("d")
                                                @Model.StartTime.ToShortTimeString()
                                            </h6>
                                            @if ((bool)Model.OnGoing)
                                            {
                                                <h6>
                                                    Ongoing
                                                    @Model.EndTime.ToShortTimeString()
                                                </h6>
                                            }
                                            else
                                            {
                                                <h6>
                                                    End:
                                                    @Model.EndDate.Date.ToString("d")
                                                    @Model.EndTime.ToShortTimeString()
                                                </h6>
                                            }
                                        }
                                        else
                                        {
                                            <h6>
                                                Start:
                                                @Model.StartDate.Date.ToString("d")
                                            </h6>
                                            @if ((bool)Model.OnGoing)
                                            {
                                                <h6>
                                                    Ongoing
                                                </h6>
                                            }
                                            else
                                            {
                                                <h6>
                                                    End:
                                                    @Model.EndDate.Date.ToString("d")
                                                </h6>
                                            }
                                        }

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        @if (Model.VolunteersNeeded == Model.VolunteersApplied)
                                        {
                                            <a class="btn btn-primary" asp-route-oppID="@Model.Id" asp-controller="Opportunities" asp-action="Apply">Join Waitlist</a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-primary" asp-route-oppID="@Model.Id" asp-controller="Opportunities" asp-action="Apply">Apply</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Description & Date posted-->
        <div class="p-3 mb-4 bg-light rounded-3 shadow">
            <div class="container-fluid py-5">

                <h3 class="fs-3 fw-bold">About this event</h3><hr />

                <p class="fs-4 fw-bold">Event Description</p>
                <p class="col-md-8 fs-6">@Html.DisplayFor(model => model.Description)</p>

                <p class="fs-4 fw-bold">Cause Area</p>
                <p class="col-md-8 fs-6">@Html.DisplayFor(model => model.InterestAreas)</p>

                @if (Model.TypeOfOpportunity != "Select")
                {
                    <p class="fs-4 fw-bold">Opportunity Type</p>
                    <p class="col-md-8 fs-6">@Html.DisplayFor(model => model.TypeOfOpportunity)</p>
                }


                @if (Model.GradeLevel != "Not applicable")
                {<p class="fs-4 fw-bold">Grade Level</p>
                    <p class="col-md-8 fs-6">@Html.DisplayFor(model => model.GradeLevel)</p>}

                @if (Model.AgeBracket != "Not applicable")
                {<p class="fs-4 fw-bold">For Ages</p>
                <p class="col-md-8 fs-6">@Html.DisplayFor(model => model.AgeBracket)</p>}

                <p class="fs-5 fw-bold">General Requirements</p>
                @if (Model.Requirements != null)
                {
                    <ul class="col-md-8 fs-6"><li>@Html.Raw(Model.Requirements.Replace(Environment.NewLine, "<br/><li>"))</li></ul>
                }
                else
                {
                    <p class="col-md-8 fs-6">None</p>
                }
                <p class="fs-5 fw-bold">Event start and end dates</p>
                @if ((bool)Model.OnGoing)
                {
                    <p class="col-md-8 fs-6 fw-bold">@Model.StartDate.Date.ToString("d") - Ongoing</p>
                }
                else
                {
                    @if (@Model.StartDate.Date.ToString("M") == @Model.EndDate.Date.ToString("M"))
                    {
                        <p class="col-md-8 fs-6 fw-bold">@Model.StartDate.Date.ToString("d")</p>
                    }
                    else
                    {
                        <p class="col-md-8 fs-6 fw-bold">@Model.StartDate.Date.ToString("d") - @Model.EndDate.Date.ToString("d")</p>
                    }

                }
                @if ((bool)!Model.Virtual)
                {
                    <p class="col-md-8 fs-6 fw-bold">@Model.StartTime.ToShortTimeString() - @Model.EndTime.ToShortTimeString()</p>

                }
            </div>

            <div class="container-fluid text-sm-right text-right">
                <p class="text-muted">Posted: @Model.CreateDate.Date.ToString("d")</p>
            </div>
        </div>
        <!--About Nonprofit-->
        <div class="p-3 mb-2 bg-light rounded-3 shadow">
            <div class="container-fluid py-5">
                <h3 class="fs-3 fw-bold">About this Nonprofit</h3>
                <p class="text-info text-muted fw-bold">
                    <!--Name of Nonprofit-->
                    @Model.CreateUser.OrganizationName
                </p>
                @if (Model.CreateUser.AboutYou != null)
                {<p>@Model.CreateUser.AboutYou</p>}

                <!--View Org-->
                <a class="btn btn-sm btn-warning mb-2" type="button" asp-action="ViewOrg" asp-route-id="@Model.Id">VolunTEEN Profile</a><br />

                @if (Model.CreateUser.InstagramLink != null)
                {
                    <a class="mb-1" href="@Model.CreateUser.InstagramLink" target="_blank"><i style="color: #DD217B;" class="fa fa-lg fa-instagram fa-2x"></i></a>
                }
                @if (Model.CreateUser.FacebookLink != null)
                {
                    <a class="mb-1" href="@Model.CreateUser.FacebookLink" target="_blank"><i style="color: #4267B2; " class="fa fa-lg fa-facebook-square fa-2x"></i></a>
                }
                @if (Model.CreateUser.TwitterLink != null)
                {
                    <a class="mb-1" href="@Model.CreateUser.TwitterLink" target="_blank"><i style="color: #00acee;" class="fa fa-lg fa-twitter-square fa-2x"></i></a>
                }
                @if (Model.CreateUser.OtherWebsite != null)
                {
                    <a class="mb-1" href="@Model.CreateUser.OtherWebsite" target="_blank">
                        <i class="fa fa-lg fa-external-link-square fa-2x"></i>
                    </a>
                }

            <div class="row align-items-md-stretch mt-3">
                <div class="col-md-6">
                    <p class="fw-bold">Contact Information</p>
                    <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fa fa-user"></i></span>@Html.DisplayFor(model => model.CreateUser.OrganizationName)</li>
                        <li><span class="fa-li"><i class="fa fa-envelope"></i></span>@Html.DisplayFor(model => model.CreateUser.Email)</li>
                        <li><span class="fa-li"><i class="fa fa-phone"></i></span>@Html.DisplayFor(model => model.CreateUser.PhoneNumber)</li>
                    </ul>

                </div>
                <div class="col-md-6">
                    <p class="fw-bold">Location</p>
                    @if ((bool)!Model.Virtual)
                    {
                        <p class="">@Html.DisplayFor(model => model.Address1)</p>
                        @if (Model.Address2 != null)
                        {
                            <p class="text-uppercase">Address 2: @Html.DisplayFor(model => model.Address2)</p>
                        }
                        <p>@Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State) @Html.DisplayFor(model => model.Zip)</p>
                    }
                    else
                    {
                        <p>This opportunity is virtual and therefore does not have a physical location.</p>
                    }
                </div>
            </div>
            <div class="row align-items-md-stretch mt-3">
                <div class="col-md-6">
                    <a class="btn btn-info" href="mailto: @Model.CreateUser.Email">Contact</a>
                </div>
                @if ((bool)!Model.Virtual)
                {
                    <div class="col-md-6">
                        <a class="btn btn-info" target="_blank" href="https://www.google.com/maps/search/?api=1&query=@Model.Address1+@Model.City+@Model.State">Map</a>
                    </div>
                }
            </div>

            </div>
        </div>

        <div class="d-flex justify-content-center pt-2">
            <a class="btn btn-primary" asp-area="" asp-controller="Opportunities" asp-action="List">Back</a>
        </div>


    </div>