@model IEnumerable<VMS.Models.Application>
@{
    ViewData["Title"] = "Your Opportunities";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">Your Opportunities</li>
</ol>

<h2>Opportunities You've Signed Up For</h2>
@if (Model.Any())
{
    @foreach (var application in Model)
    {
        <div class="card bg-light rounded-3 shadow mb-3">
            <div class="card-header fw-bolder">
                @application.OppName
            </div>
            <div class="card-body">
                @if (!application.IsVirtual)
                {
                    <p>Location: @application.OppLocation</p>
                }
                else
                {
                    <p>Location: Remote</p>
                }
                <p>Date: @application.OppDate</p>
                @if (!application.IsVirtual)
                {
                    <p>Time: @application.OppTime</p>
                }
                    @if (!application.Status)
                    {
                        <p class="text-danger fw-bold">AWAITING APPROVAL</p>
                    }
                    else
                    {
                        <p class="text-success fw-bold">APPROVED</p>
                    }
                    <form asp-action="withdrawApplication" asp-route-id="@application.Id" method="post">
                        <input type="submit" value="Withdraw Application" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this?')" />
                    </form>
                    <a style="margin-top:1%" class="btn btn-outline-info btn-rounded" asp-area="" asp-controller="Opportunities" asp-action="PublicDetails" asp-route-id="@application.OppId">View Full Opportunity</a>
                </div>
        </div>

    }
}
else
{
    <div>
        <p>You have not applied to any opportunities yet. Click the button below to browse available opportunities.</p>
        <a class="btn btn-primary" asp-controller="Opportunities" asp-action="List">Volunteer Now</a>
    </div>
}


